*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin:5px 0 10px 0; 
}

a{
    text-decoration: none;
    color: black;
    vertical-align: middle;
    font-size: 13px;
}

#main{
    text-align: center;
}

#header{
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

#search-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 85px;
}

#search-header img{
    width: 92px;
    height: 32px;
    margin: 0 40px 0 20px;
}

#search-query{
    background: white;
    width: 625px;
    height: 40px;
    border: 1px solid #999999;
    border-radius: 25px;
    font-size: 16px;
    text-indent: 25px;
}

#navigation-header{
    width: 100%;
    height: 37px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

#navigation-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 625px;
    margin: 0 0 0 160px;
    height: 37px;
}

#navigation-container a{
    border-bottom: 3px solid white;
    padding: 7px 10px;
    font-size: 15px;
}

#navigation-container a:hover{
    border-bottom: 3px solid lightskyblue;
}

#result-number-container{
    color: rgb(94, 94, 94);
    width: 625px;
    margin: 10px 0 10px 85px;
    font-size: 12px;
}

#search-results{
    margin: 10px 0 10px 150px  
}

.simple-result{
    width: 625px;
    height: 125px;
    margin: 15px 0;
}

.simple-result div{
    margin: 0 0 3px 0;
}

.simple-header{
    color: blue;
    font-size: 20px;
}
.simple-header:hover{
    text-decoration: underline;
    cursor: pointer;
}
.simple-link{
    color: green;
}
.simple-description{
    color: rgb(94, 94, 94);
    font-size: 15px;
    line-height: 25px;
}

.simple-padding{
    padding: 10px;
}

.videos-result{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 625px;
    height: 300px;
    margin: 15px 0;
}
.video{
    border: 1px solid rgb(207, 207, 207);
    border-radius: 15px;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.video-thumbnail{
    height: 40%;
    border-radius: 0;
    border-bottom: 1px solid rgb(207, 207, 207);
}
.video-thumbnail img{
    border-radius: 15px;
}
.video-description{
    height: 40%;
}
.video-info{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
}

.ask-result{
    display: flex;
    flex-direction: column;
    width: 625px;
    height: 200px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 15px;
    margin: 15px 0;
}
.people-also-ask{
    flex-grow: 1;
    width: 100%;
    height: 30px;
    font-size: 19px;
    padding: 5px;
}
.question-container{
    width: 100%;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
}
.question-container div{
    height: 30px;
    border-top: 1px solid rgb(207, 207, 207);
    flex-grow: 1;
    padding: 5px;
}
.question-container div:hover{
    cursor: pointer;
}

.related-search{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 15px;
    width: 625px;
    padding: 15px;
}
.related-search div{
    width: 100%;
}
.related-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 14px;
}
.related-container figure img{
    height: 75px;
    width: 75px;
    border: none;
}
.related-container figure figcaption{
    color: blue;
}

.related-links{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 625px;
    padding: 15px;
}
.related-links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.related-links-container div{
    color: blue;
    padding: 5px;
}
.related-links-container div div:hover{
    text-decoration: underline;
    cursor: pointer;
}